@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* list-style-type: none !important; */
    text-decoration: none !important;
}

.font-manrope {
    font-family: 'manrope', sans-serif;
}

/* line-height */
.line-h72 {
    line-height: 52px;
}

.line-h57 {
    line-height: 42px;
}

.line-h48 {
    line-height: 35px;
}

.line-h36 {
    line-height: 36px;
}

.line-h30 {
    line-height: 30px;
}

.line-h24 {
    line-height: 24px;
}

.line-h21 {
    line-height: 21px;
}

.line-h20 {
    line-height: 20px;
}

.hero-bg {
    background-image: url("../images/png/hero-bgimage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.container_1140 {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.gap_32 {
    gap: 32px;
}

.br_nav {
    border: 1px solid var(--nav-border);
}

.nav-bg {
    background-color: var(--nav-bg);
    backdrop-filter: blur(-12px);
}

.py_26 {
    padding-top: 14px;
    padding-bottom: 14px;
}

.bt_line:hover {
    color: var(--clr-white);
    text-shadow: 0 0.3px .80px var(--fc-gray), 0 0.3px .80px;
}

.bt_line::after {
    content: "";
    position: absolute;
    height: 1px;
    background: var(--fc-gray);
    width: 0%;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}

.bt_line:hover::after {
    width: 100%;
}

.bt_line1::after {
    content: "";
    position: absolute;
    height: 1px;
    background: var(--fc-gray);
    width: 0%;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}

.bt_line1:hover::after {
    width: 100%;
}

.pt_60 {
    padding-top: 40px;
}

header h1 {
    padding-bottom: 16px;
}

.max-w702 {
    max-width: 702px;
}

.buy-btn {
    margin-top: 32px;
    padding: 12px 24px;
    border-radius: 10px;
    background: var(--fc-yellow);
    border: none;
    transition: .5s;
}

.buy-btn:hover {
    background: var(--fc-primary-white)
}

.layer-absolute {
    position: absolute;
    transform: translateY(-41%);
}

.dropdown1 {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown1-content {
    display: none;
    border-radius: 4px;
    position: absolute;
    background-color: var(--fc-black);
    min-width: 120px;
    right: -35px;
    padding: 10px;
    border: 1px solid var(--nav-border);
    z-index: 1;
}

.dropdown1:hover .dropdown1-content {
    display: block;
}

.list_type {
    list-style-type: none !important;
}

/* ........................section-2............................ */
.bg_layer1 {
    background-image: url("../images/png/bg_layer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.max_818 {
    max-width: 818px;
}

.buy_nowbox {
    max-width: 818px;
    width: 100%;
    padding: 20px;
    border: 1px solid var(--fc-border-box);
    border-radius: 20px;
}

.py_100_50 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.gap_14px {
    gap: 14px;
}

.buy-btn1 {
    width: 256px;
    margin-top: 32px;
    padding: 12px 24px;
    border-radius: 10px;
    background: var(--fc-yellow);
    border: none;
    transition: .5s;
}

.buy-btn1:hover {
    background: var(--fc-primary-white)
}

.gap-32 {
    gap: 20px;
}

.pricing-box1 {
    width: 404px;
}

.dot {
    padding-top: 26px;
    padding-left: 7px;
    padding-right: 7px;
}

.sliddr_range {
    appearance: none;
    outline: none;
    padding: 0;
    width: 100%;
    height: 22px;
    border-radius: 125px;
    background: var(--clr-white);
}

.sliddr_range::-webkit-slider-thumb {
    appearance: none;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    background-image: url("../images/svg/slider-thumb.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: 0.5s;
}

.timer-box {
    width: 50px;
    height: 40px;
    background: var(--timer-box);
    border-radius: 4px;
}

#combinedtime {
    display: none;
}

/* ...............................section3 about */
.max_856 {
    max-width: 856px;
}

.about-bg {
    background-image: url("../images/png/about_scailer.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.max-w776 {
    max-width: 776px;
}

.pb-12 {
    padding-bottom: 12px;
}

.pt_6 {
    padding-top: 6px;
}

.timimg-svg {
    width: 24px;
    height: 24px;
}

.py_50 {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* .................section-4.......................... */
.section4-bg {
    background-image: url("../images/png/scailer-smartbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.py-86 {
    padding-top: 40px;
    padding-bottom: 40px;
}


.input_modification {
    outline: none;
    background: transparent;
    max-width: 514px;
    border: none;
    padding: 12px;
    color: var(--fc-gray);
}

.border_input {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid var(--border-input);
    max-width: 514px;
    margin-left: auto;
    margin-right: auto;
    background: var(--input-bg);
    width: 100%;
}

.copy-btn {
    padding: 12px 24px;
    border-radius: 10px;
    background: var(--fc-yellow);
    border: none;
    transition: 1s;
}

.copy-btn:hover {
    background: var(--fc-primary-white);
}

.max-w806 {
    max-width: 806px;
}

.mb-32 {
    margin-bottom: 20px;
}

/* ..............tokenomics............... */

.py-124_33 {
    padding-top: 15px;
    padding-bottom: 33px;
}

.sclair_parent {
    max-width: 253px;
}

.sclair_box {
    padding: 4px 16px;
    border: 1px solid var(--border-sclairbox);
    border-radius: 6px;
}

.gap-12 {
    gap: 12px;
}

.shiba-box {
    max-width: 1140px;
    background: var(--shiba-box);
    padding: 20px 30px;
    margin-top: 27px;
    border-radius: 16px;
    border: 1px solid var(--shiba-box-border);
}

.bordergradient {
    width: 2px;
    height: 32px;
    background: linear-gradient(180deg, rgba(255, 246, 36, 0.0222222) 0%, var(--fc-yellow) 55%, rgba(255, 246, 36, 0) 100%);
    opacity: 20%;
}

.max-img1 {
    max-width: 491px;
}

.cartoon-circle {
    width: 132px;
    height: 132px;
    background: var(--cartoon-box);
    border-radius: 50%;
}

.max-w553 {
    max-width: 553px;
}

.gap-80 {
    gap: 80px;
}

.pb-10 {
    padding-bottom: 10px;
}

.max-w574 {
    max-width: 574px;
}

.ellips-1 {
    position: absolute;
    bottom: -27%;
    right: 0;
}

/* ......................slider................ */
.max-w-276 {
    max-width: 267px;
}

.bg-image-2 {
    background-image: url("../images/png/secure-section.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slider-box {
    width: 100%;
    border-radius: 16px;
    padding: 40px 15px 15px 15px;
    border: 1px solid var(--slider-border);
    background: var(--slider-bg);
}

.py_77_84 {
    padding-top: 110px;
    padding-bottom: 48px;
}

.br_bottom {
    border-bottom: 1px solid var(--fc-yellow);
    opacity: 30%;
}

.pb-10 {
    padding-bottom: 10px;
}

.py_49_115 {
    padding-top: 48px;
    padding-bottom: 40px;
}

/* ......................roadmap................................ */
.gap_90 {
    gap: 90px;
}

.roadmap_bg_img {
    background-image: url("../images/png/Roadmap-bg.png");
    background-size: 100% 100%;
}

.roadmap_box {
    width: 100%;
    background: var(--roadmap-box);
    width: 300px;
    min-height: 328px;
    border-radius: 16px;
}

.roadmap_box {
    position: relative;
    z-index: 1;
}

.roadmap_box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 1px;
    background: linear-gradient(153.46deg, rgba(255, 246, 36, 0.4) -9.68%, rgba(255, 246, 36, 0) 119.9%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}


.paading_box {
    padding: 24px 40px 24px 24px;
}

.pos_roadmap_colorFullImg {
    top: 46%;
}

.pos_yellowGreenBlub {
    right: 44%;
    bottom: -48px;
}

.py_64_100 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.py-71-178 {
    padding-top: 48px;
    padding-bottom: 48px;
}

/* ...............accordion........................... */
.acoordion-bg {
    background-image: url("../images/png/accordion-bgimage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.max-w800 {
    max-width: 800px;
}

.accordion-item {
    border: 1px solid var(--accordion-border);
    background-color: var(--accordion-item-bg) !important;
    margin-bottom: 24px;
    border-radius: 8px !important;
}

.accordion-body {
    color: var(--primary-gray1);
    font-family: 'manrope', sans-serif;
    font-size: var(--fs-xmd);
    font-weight: 400;
    line-height: 24px;
    max-width: 992px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-top: 0 !important;
}

.accordion-body p {
    max-width: 510px !important;
}

.accordion-button:not(.collapsed) {
    color: var(--clr-white) !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.accordion-button {
    font-family: 'manrope', sans-serif;
    color: var(--primary-gray1) !important;
    padding: 12px !important;
    background-color: transparent !important;
}


.accordion-button:not(.collapsed)::after {
    background-image: url("../images/svg/accordionarrowup.svg");
    width: 19px;
    height: 13px;
    transform: rotate(0deg);
    top: 20px;
}

.accordion-button::after {
    width: 19px;
    height: 18px;
    position: absolute;
    right: 11px;
    top: 18px;
    flex-shrink: 0;
    margin-left: auto;
    content: "";
    background-image: url("../images/svg/accordionarrowdown.svg");
    background-repeat: no-repeat;
    background-size: none !important;
    transition: none !important;
}

.accordion-button:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.paddingbottom {
    padding-bottom: 40px;
}

.py_177 {
    padding-top: 95px;
    padding-bottom: 80px;
}

/* ...........................our-socials...................... */
.social-absolute {
    position: absolute;
    right: 6%;
    top: 20%;
}

.our-socialsbox {
    border-radius: 16px;
    background-image: url("../images/png/social-boxbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 840px;
    width: 100%;
    padding: 30px 35px 30px;
    position: relative;
    z-index: 1;
}

.our-socialsbox::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 1px;
    background: linear-gradient(153.46deg, rgba(255, 246, 36, 0.4) -9.68%, rgba(255, 246, 36, 0) 119.9%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}

.py_124_120 {
    padding-top: 30px;
    padding-bottom: 40px;
}

.ellips2 {
    position: absolute;
    top: -24%;
    right: 0;
    z-index: -1;
}

.social-icon {
    transition: .5s;
}

.social-icon:hover {
    transform: translateY(-4px);
}

/* ====footer ===== */
.footertext {
    max-width: 621px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.footerborder {
    border: 1px solid var(--footer-border);
    margin-top: 40px;
}

.footer-bg {
    background-image: url("../images/png/footer-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.topBtn {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    visibility: hidden;
    position: fixed;
    bottom: 15px;
    right: 30px;
    background-color: var(--slider-border);
    cursor: pointer;
    padding: 10px;
    z-index: 15;
    transition: .5s;
}

.topBtn.show {
    visibility: visible;
}

.topBtn:active {
    transform: translateY(5px);
}

.topBtn:hover {
    box-shadow: 0px 3px 15px 3px var(--clr-white);
}

.svg-w {
    width: 25px;
    height: 69px;
}

/* ........................media-quaries............... */
@media(max-width:991.99px) {
    .iconbox {
        width: 35px;
        height: 25px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 40;
        cursor: pointer;
    }

    .iconbox>span {
        width: 100%;
        height: 3px;
        background-color: var(--fc-primary-white);
        border-radius: 5px;
    }

    .menulist {
        display: flex;
        justify-content: center;
        position: fixed;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        top: 0;
        z-index: 30;
        left: -100%;
        transition: all 500ms linear;
        background-color: var(--nav-menu);
    }

    .overflowhidden {
        overflow: hidden !important;
    }

    .cross span:nth-child(1) {
        transform: rotate(43deg) translateY(14px);
        transition: 300ms linear;
        background: var(--fc-primary-white);
        width: 27px;
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 0.5ms linear;
    }

    .cross span:nth-child(3) {
        transform: rotate(-42deg) translateY(-15px);
        transition: 300ms linear;
        background: var(--fc-primary-white);
        width: 27px;
    }

    .display_none {
        display: none;
    }

    .flex_wrap {
        flex-wrap: wrap;
    }

    .justify_center {
        justify-content: center;
    }

    .gap_20 {
        gap: 20px;
    }
}

@media(max-width:575.99px) {
    .cartoon-circle {
        width: 80px;
        height: 80px;
    }

    .max-img2 {
        max-width: 45px;
    }
}

@media(min-width:576px) {
    .line-h72 {
        line-height: 62px;
    }

    .pt_60 {
        padding-top: 60px;
    }

    .py_100_50 {
        padding-top: 60px;
        padding-bottom: 50px;
    }

    .py-86 {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .py-124_33 {
        padding-top: 100px;
        padding-bottom: 33px;
    }

    .buy_nowbox {
        padding: 40px;
    }

    .gap-32 {
        gap: 32px;
    }

    .shiba-box {
        padding: 32px 50px;
        margin-bottom: 70px;
    }

    .py_77_84 {
        padding-top: 120px;
        padding-bottom: 60px;
    }

    .py_49_115 {
        padding-top: 48px;
        padding-bottom: 77px;
    }

    .py-71-178 {
        padding-top: 60px;
        padding-bottom: 100px;
    }

    .py_124_120 {
        padding-top: 80px;
        padding-bottom: 84px;
    }

    .price-vetor1 {
        position: absolute;
        left: 106px;
        top: -32px;
    }

    .price-vetor2 {
        position: absolute;
        right: 11px;
        top: -32px;
    }

    .line-h57 {
        line-height: 50px;
    }

    .line-h48 {
        line-height: 48px;
    }

    .mb-32 {
        margin-bottom: 32px;
    }

    .footertext {
        padding-bottom: 50px;
    }

    .py_50 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media(min-width:768px) {
    .paddingbottom {
        padding-bottom: 50px;
    }

    .line-h72 {
        line-height: 67px;
    }

    .py_100_50 {
        padding-top: 70px;
    }

    .py-86 {
        padding-top: 86px;
        padding-bottom: 86px;
    }

    .py-124_33 {
        padding-top: 124px;
        padding-bottom: 33px;
    }

    .shiba-box {
        padding: 32px 63px;
        margin-bottom: 98px;
    }

    .py_77_84 {
        padding-top: 77px;
        padding-bottom: 84px;
    }

    .py_177 {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .our-socialsbox {
        padding: 50px 58px 40px;
    }

    .line-h57 {
        line-height: 57px;
    }

    .py_26 {
        padding-top: 26px;
        padding-bottom: 26px;
    }

    .py_64_100 {
        padding-top: 50px;
        padding-bottom: 70px;
    }
}

@media(min-width:992px) {
    .marginright {
        margin-right: -40px;
    }

    .paddingbottom {
        padding-bottom: 60px;
    }

    .line-h72 {
        line-height: 52px;
    }

    .py_100_50 {
        padding-top: 100px;
    }

    .text_nowrap {
        white-space: nowrap;
    }

    .max-w475 {
        max-width: 475px;
    }

    .slider-box {
        max-width: 465px;
    }

    .border1 {
        border-bottom: 1px solid var(--slider-border);
        width: 186px;
        padding-top: 25px;
    }

    .border2 {
        border-bottom: 1px solid var(--slider-border);
        width: 57px;
        padding-top: 25px;
    }

    .border3 {
        border-bottom: 1px solid var(--slider-border);
        width: 160px;
        padding-top: 25px;
    }

    .py_49_115 {
        padding-top: 49px;
        padding-bottom: 115px;
    }

    .pos_box1 {
        top: 37%;
        left: 3%;
    }

    .pos_box2 {
        top: 295px;
        left: 35%;
    }

    .pos_box3 {
        top: 18%;
        right: 8%;
    }

    .position_absolute {
        position: absolute;
    }

    .roadmap_box {
        max-width: 300px;
    }

    .py-71-178 {
        padding-top: 71px;
        padding-bottom: 178px;
    }

    .py_177 {
        padding-top: 177px;
        padding-bottom: 177px;
    }

    .py_124_120 {
        padding-top: 124px;
        padding-bottom: 120px;
    }

    .py_64_100 {
        padding-top: 64px;
        padding-bottom: 100px;
    }

    .roadmap_bg_img {
        height: 1103px;
    }
}

@media (min-width:1200px) {
    .marginright {
        margin-right: 0;
    }

    .pos_box1 {
        top: 37%;
        left: 12%;
    }

    .pos_box2 {
        top: 295px;
        left: 41%;
    }

    .pos_box3 {
        top: 18%;
        right: 5%;
    }

    .pos_roadmap_colorFullImg {
        top: 40%;
    }
}

@media (min-width:1400px) {
    .paading_box {
        padding: 24px 90px 24px 24px;
    }
}

@media (min-width:1535.99px) {
    .pos_box3 {
        top: 9%;
        right: 9%;
    }
}