@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    text-decoration: none !important;
}

.font-manrope {
    font-family: 'manrope', sans-serif;
}

/* line-height */
.line-h72 {
    line-height: 52px;
}

.line-h57 {
    line-height: 57px;
}

.line-h48 {
    line-height: 48px;
}

.line-h36 {
    line-height: 36px;
}

.line-h30 {
    line-height: 30px;
}

.line-h24 {
    line-height: 24px;
}

.line-h21 {
    line-height: 21px;
}

.line-h20 {
    line-height: 20px;
}

.hero-bg {
    background-image: url("../images/png/hero-bgimage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.container_1140 {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.gap_32 {
    gap: 32px;
}

.br_nav {
    border: 1px solid var(--nav-border);
}

.py_26 {
    padding-top: 26px;
    padding-bottom: 26px;
}

.bt_line:hover {
    color: var(--fc-gray);
    text-shadow: 0 0.3px .80px var(--fc-gray), 0 0.3px .80px;
}

.bt_line::after {
    content: "";
    position: absolute;
    height: 1px;
    background: var(--fc-gray);
    width: 0%;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}

.bt_line:hover::after {
    width: 100%;
}

.pt_60 {
    padding-top: 40px;
}

.max-w702 {
    max-width: 702px;
}

.buy-btn {
    margin-top: 32px;
    padding: 12px 24px;
    border-radius: 10px;
    background: var(--fc-yellow);
    border: none;
    transition: 1s;
}

.buy-btn:hover {
    background: var(--fc-primary-white)
}

.layer-absolute {
    position: absolute;
    transform: translateY(-41%);
}

/* ........................section-2............................ */
.bg_layer1 {
    background-image: url("../images/png/bg_layer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.max_818 {
    max-width: 818px;
}

.buy_nowbox {
    max-width: 818px;
    width: 100%;
    padding: 40px;
    border: 1px solid var(--fc-border-box);
    border-radius: 20px;
}

.py_100 {
    padding-top: 48px;
    padding-bottom: 48px;
}

.gap_14px {
    gap: 14px;
}

.buy-btn1 {
    width: 256px;
    margin-top: 32px;
    padding: 12px 24px;
    border-radius: 10px;
    background: var(--fc-yellow);
    border: none;
    transition: 1s;
}

.buy-btn1:hover {
    background: var(--fc-primary-white)
}

/* ...............................section3 about */
.max_856 {
    max-width: 856px;
}

.about-bg {
    background-image: url("../images/png/about_scailer.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.max-w776 {
    max-width: 776px;
}

.pb-12 {
    padding-bottom: 12px;
}

/* .................section-4.......................... */
.section4-bg {
    background-image: url("../images/png/scailer-smartbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.py-86 {
    padding-top: 40px;
    padding-bottom: 40px;
}


.input_modification {
    outline: none;
    background: transparent;
    max-width: 514px;
    border: 1px solid var(--border-input);
   
}

.botder_input {
    border-radius: 8px;
    border: 1px solid var(--border-input);
    max-width: 514px;
    background: var(--input-bg);
}

.copy-btn {
    padding: 12px 24px;
    border-radius: 10px;
    background: var(--fc-yellow);
    border: none;
    transition: 1s;
}

.copy-btn:hover {
    background: var(--fc-primary-white);
}

.max-w806 {
    max-width: 806px;
}

.mb-32 {
    margin-bottom: 32px;
}

.py-124_33 {
    padding-top: 50px;
    padding-bottom: 33px;
}

.sclair_parent {
    max-width: 253px;
    padding: 4px 0px 4px 0px;
}

.sclair_box {
    padding: 4px 16px;
    border: 1px solid var(--border-sclairbox);
    border-radius: 6px;
}












@media(max-width:991.99px) {
    .iconbox {
        width: 35px;
        height: 25px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 40;
        cursor: pointer;
    }

    .iconbox>span {
        width: 100%;
        height: 3px;
        background-color: var(--fc-primary-white);
        border-radius: 5px;
    }

    .menulist {
        display: flex;
        justify-content: center;
        position: fixed;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        top: 0;
        z-index: 30;
        left: -100%;
        transition: all 500ms linear;
        background-color: var(--nav-bg);
    }

    .overflowhidden {
        overflow: hidden !important;
    }

    .cross span:nth-child(1) {
        transform: rotate(43deg) translateY(14px);
        transition: 300ms linear;
        background: var(--fc-primary-white);
        width: 27px;
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 0.5ms linear;
    }

    .cross span:nth-child(3) {
        transform: rotate(-42deg) translateY(-15px);
        transition: 300ms linear;
        background: var(--fc-primary-white);
        width: 27px;
    }
}

@media(min-width:576px) {
    .line-h72 {
        line-height: 62px;
    }

    .pt_60 {
        padding-top: 60px;
    }

    .py_100 {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .py-86 {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .py-124_33 {
        padding-top: 100px;
        padding-bottom: 33px;
    }
}

@media(min-width:768px) {
    .line-h72 {
        line-height: 67px;
    }

    .py_100 {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .py-86 {
        padding-top: 86px;
        padding-bottom: 86px;
    }

    .py-124_33 {
        padding-top: 124px;
        padding-bottom: 33px;
    }
}

@media(min-width:992px) {
    .line-h72 {
        line-height: 52px;
    }

    .py_100 {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}